@import '@picocss/pico/css/pico.css';

body {
	/* tighten up spacing */
	--pico-spacing: 0.75rem;
	--pico-form-element-spacing-horizontal: 0.5rem;
	--pico-form-element-spacing-vertical: 0.375rem;
}

/* set color for use in thumb and progress */
input[type='range'] {
	position: relative;
	--range-progress-color: var(--pico-primary-background);
}
input[type='range']:active,
input[type='range']:focus-visible {
	--range-progress-color: var(--pico-primary);
}

/* thumb color */
input[type='range']::-webkit-slider-thumb {
	background: var(--range-progress-color);
	transition: background 0s linear;
}
input[type='range']::-moz-range-thumb {
	background: var(--range-progress-color);
	transition: background 0s linear;
}

/* progress color (slider before the thumb), no direct support in chrome/safari */
input[type='range']::after {
	content: '';
	height: 0.375rem;
	border-radius: 0.25rem;
	width: 100%;
	top: 8.5px;
	position: absolute;
	pointer-events: none;
	background: linear-gradient(
		to right,
		var(--range-progress-color) 0%,
		var(--range-progress-color)
			calc(
				(attr(data-value type(<number>)) - attr(min type(<number>))) /
					(attr(max type(<number>)) - attr(min type(<number>))) * 100%
			),
		transparent
			calc(
				(attr(data-value type(<number>)) - attr(min type(<number>))) /
					(attr(max type(<number>)) - attr(min type(<number>))) * 100%
			),
		transparent 100%
	);
}
input[type='range']::-moz-range-progress {
	background: var(--range-progress-color);
	height: 0.375rem;
	border-radius: 0.25rem;
}
